@use '@/styles/mixins';

.subjectDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  @include mixins.responds-to(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.subjectDetails__field {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;

  @include mixins.responds-to(md) {
    flex-direction: row;
  }
}

.subjectDetails__label {
  font-weight: bolder;
}

.subjectDetails__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
