@use '@/styles/mixins';

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__buttons {
  display: flex;
  gap: 1rem;
}

.profile__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;

  @include mixins.responds-to(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.profile__field {
  display: flex;
  gap: 1rem;
}

.profile__field-label {
  font-weight: bolder;
}
