@use '@/styles/mixins';

.classDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  @include mixins.responds-to(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.classDetails__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;

  @include mixins.responds-to(md) {
    flex-direction: row;
  }
}

.classDetails__label{
    font-weight: bolder;
}