.header {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header-group {
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 1rem;
}
