@use '@/styles/mixins';

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.view__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include mixins.responds-to(md) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.view__button-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.view__component {
  width: 100%;
}
