.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 2rem;

  &__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
