:root {
  --background: #f9fafb;
  --foreground: #212529;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  border: 1px solid red;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 1rem;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  border: 1px solid blue;
  width: min(1200px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex: 1;
}
