@use '@/styles/colors';
@use '@/styles/mixins';

.item {
  width: 100%;
  height: 100%;
  background-color: colors.$bg-card;
  display: flex;
  padding: 1rem;
  transition: all 0.3s ease-in-out;

  &__field {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & > :first-child {
      font-weight: bold;
    }

    @include mixins.responds-to(md) {
      & > :first-child {
        display: none;
      }
    }
  }

  &__buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & > :first-child {
      font-weight: bold;
    }

    @include mixins.responds-to(md) {
      & > :first-child {
        display: none;
      }
      flex-direction: row;
    }
  }
}
