@use '@/styles/colors';
@use '@/styles/mixins';

.wrapper {
  background-color: colors.$bg-card;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  gap: 1rem;

  @include mixins.responds-to(sm) {
    flex-direction: row;
    gap: 0;
  }
}
.item__field {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__buttons {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @include mixins.responds-to(md) {
    flex-direction: row;
  }
}

.item__label {
  font-weight: bold;

  @include mixins.responds-to(md) {
    display: none;
  }
}

.item__list-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
}
