@use '@/styles/colors';

.item {
  width: 100%;
  background-color: colors.$bg-card;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transform: translateX(-1.02);
  }

  > * {
    width: 100%;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
