.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;

    > p {
      width: 100%;
      text-align: center;
    }
  }
}
