@use '@/styles/colors';

.notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 20px;
  width: min(400px, 80%);
  right: 20px;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  z-index: 2000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transform: translateX(-1.02);
  }
}

.success {
  background-color: colors.$success;
}

.error {
  background-color: colors.$error;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification__title {
  text-transform: capitalize;
}

.notification__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.notification__message {
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 0.95rem;
}
