@use '@/styles/colors';

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000000, 0.25);
  z-index: 1000;
  backdrop-filter: blur(5);

  &__content {
    width: min(600px, 100%);
    background-color: colors.$bg-primary;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__close-button {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    cursor: pointer;
  }
}
